{% if craft.amNav.getNavRaw("aside") is defined %}
    <div class="container">
        <nav class="nav nav--doormat grid "  >
            <div class="grid__12 grid--bp-med__3">
                <div class="spacer">
                    <ul>
                        {% set nav = craft.amNav.getNavRaw("aside") %}
                        {% for node in nav %}
                            <li><a href="{{ node.url }}" class="{{ globalMacro.is_active(node.url) }}" {% if node.blank %} target="_blank"{% endif %}>{{ node.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="grid__12 grid--bp-med__3">
            <ul>
                {% set nav = craft.amNav.getNavRaw("aside") %}
                {% for node in nav %}
                    <li><a href="{{ node.url }}" class="{{ globalMacro.is_active(node.url) }}" {% if node.blank %} target="_blank"{% endif %}>{{ node.name }}</a></li>
                {% endfor %}
            </ul>
            </div>
            <div class="grid__12 grid--bp-med__3">
            <ul>
                {% set nav = craft.amNav.getNavRaw("aside") %}
                {% for node in nav %}
                    <li><a href="{{ node.url }}" class="{{ globalMacro.is_active(node.url) }}" {% if node.blank %} target="_blank"{% endif %}>{{ node.name }}</a></li>
                {% endfor %}
            </ul>
            </div>
            <div class="grid__12 grid--bp-med__3">
                <form action="" method="post" class="contact_form">
                    <input type="email" placeholder="Email Address*" required><br><br>
                    <input type="text" placeholder="First Name"><br><br>
                    <input type="text" placeholder="Last Name"><br><br>
                    <input class= "btn" type="submit" value="Inschrijven Nieuwsbrief "><span></span>
                </form>
                {#{% if socialMedia.facebook or socialMedia.instagram or socialMedia.linkedin or socialMedia.pinterest or socialMedia.twitter or socialMedia.youtube or socialMedia.google %}#}
                    {#<div class="nav nav--social">#}
                        {#<ul>#}
                            {#{% include '_snippet/_content/_socialMedia' %}#}
                        {#</ul>#}
                    {#</div>#}
                {#{% endif %}#}
            </div>
        </nav>
    </div>
{% endif %}